<!-- home.component.html -->
<div class="container">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let city of cities">
      <a [routerLink]="['/detail', city.id, city.name]">
        {{ city.id }} - {{ city.name }} ({{ city.province }})
      </a>
    </li>
  </ul>
  <div>
    <p>
<!--      <button class="btn btn-success" (click)="navigate()">Via programmacode stad naar Stad Toevoegen</button>-->
    </p>
  </div>
</div>
