<!-- app.component.html -->
<div class="container">
  <h1>{{ title }}</h1>
  <input type="checkbox" (change)="toggleCities()"> {{ toggleMsg }}
  <ul class="list-group" *ngIf="showCities">
    <li class="list-group-item " *ngFor="let city of cities ">
      {{ city.id }} - {{ city.name }} ({{ city.province }})
    </li>
  </ul>
  <hr />
  <button (click)="btnClick()" class="btn btn-primary">Bestel</button>

</div>
