<!-- app.component.html -->
<div class="container">

  <h1>{{ title }}</h1>
  <div class="row">
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item" (click)="showCity(city)" *ngFor="let city of cities">
          {{ city.id }} - {{ city.name }} ({{ city.province }})
        </li>
      </ul>
      <button class="btn btn-primary" (click)="clear()">Leegmaken</button>
    </div>
    <div class="col">
      <div *ngIf="currentCity">
        <app-city-detail [city]="currentCity"></app-city-detail>
      </div>
    </div>
  </div>


</div>