$color : #0f0;

body {
	background: lighten($color, 90);
	font: normal 1.2em Arial;
}

.container {
	color  : lighten($color, 5);
	width  : 50%;
	margin : 0 auto;
	h1 {
		color : darken($color, 50);
	}
}

html {
	height: 10%;
}