$color : #3ff;

body {
	background: lighten($color, 30);
	font       : normal 1.2em Arial;
}

.container {
	color  : lighten($color, 5);
	width  : 50%;
	margin : 0 auto;

	h2 {
		color : darken($color, 50);
		padding: 0 1rem;
	}

	b {
		font-weight: bold
	}

}

html {
	height: 100%;
}
