<!-- home.component.html -->
<div class="container">
  <h1>{{ title }}</h1>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let city of cities">
      {{ city.id }} - {{ city.name }} ({{ city.province }})
    </li>
  </ul>
</div>