<!-- app.component.html -->
<div class="container">
  <h1>{{ title }}</h1>
  <ul class="list-group" *ngIf="showCities">
    <li class="list-group-item" *ngFor="let city of cities" (click)="showCity(city)">

      {{ city.id }} - {{ city.name }} ({{ city.province }})
    </li>
  </ul>

  <div>
    <input type="text" class="form-control-lg" placeholder="Nieuwe stad..." #txtCity (keyup.enter)="addCity(txtCity.value)">
    <br />
    <button class="btn btn-success" (click)="addCity(txtCity.value)">Toevoegen</button>
    <h2>{{ newCity }}</h2>
  </div>


</div>