<!-- app.component.html -->
<div class="container">
  <h1>{{ title }}</h1>
  <ul class="list-group" *ngIf="showCities">
    <li class="list-group-item" *ngFor="let city of cities" (click)="showCity(city)">

      {{ city.id }} - {{ city.name }} ({{ city.province }})
    </li>
  </ul>
  <!-- Door ngModel geen parameters meer nodig : variabele leeft al in de controller -->
  <input type="text"
         (keyup.enter)="addCity()"
         [(ngModel)]="newCity" class="form-control-lg">
  <button (click)="addCity()" class="btn btn-success">Stad toevoegen</button>
  <br>
  <h2>{{ newCity }} </h2>


  <!-- Als er een stad is aangeklikt, wordt deze waarde opgeslagen
  in currentCity. Hiervan is een foto met de betreffende naam aanwezig
  in de map /assets/img/. Er is ook CSS-stijl toegevoegd aan app.component.css -->
  <div *ngIf="currentCity">
    <img class="cityPhoto" [src]="cityPhoto" [alt]="currentCity.name" class="cityPhoto">
    <h2> Gekozen stad: {{ currentCity.name}} </h2>
  </div>


</div>
