<div class="container">
  <h2>welkom {{ name }}!</h2>
  <h1>{{ title }}</h1>
  
  <input type="checkbox" (change)="toggleCities()"> {{ toggleMsg }}

  <ul class="list-group" *ngIf="showCities">
    <li class="list-group-item" *ngFor="let city of cities" (click)="showCity(city.id)" >
      {{ city.id }} - {{city.name}} ({{city.province}}) 
      <button class="btn btn-warning" (click)="removeCity(city.id)">Verwijderen</button>
    </li>
  </ul>
<br>
  <div>
    <input type="text" 
    [(ngModel)]="newCity" 
    class="form-control-lg"
    placeholder="Nieuwe stad..."> 
   
    <input type="text" 
    [(ngModel)]="newProvincie" 
    class="form-control-lg"
    placeholder="Nieuwe provincie..."> 

    &nbsp;
    
    <button class="btn btn-success"
        (click)="addCity()">Stad toevoegen</button>
   
    <h2>Nieuw: {{ newCity }} ({{newProvincie}})</h2>
  </div>

  <div *ngIf="currentCity">
    <img [src]="cityPhoto" [alt]="currentCity.name" class="cityPhoto">
    <h2> Gekozen stad: {{ currentCity.name }}</h2>
  </div>


</div>
<!-- evt customer -->