<!-- city-detail.component.html -->
<h2>
  Details
  <button (click)="rate(1)" class="btn btn-sm btn-success">+1</button>
  <button (click)="rate(-1)" class="btn btn-sm btn-danger">-1</button>
</h2>
<ul class="list-group">
  <li class="list-group-item">Naam: {{city.name }}</li>
  <li class="list-group-item">Provincie: {{city.province}}</li>
  <li class="list-group-item">Highlights: {{city.highlights}}</li>
</ul>
<img src="assets/img/{{city.name}}.jpg" class="img-fluid" alt="">