<!-- app.component.html -->
<div class="container">
  <h1>{{ title }}</h1>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let city of cities" (click)="showCity(city)">

      {{ city.id }} - {{ city.name }} ({{ city.province }})
    </li>
  </ul>
  <!-- Tekstvak voor toevoegen van stad -->
  <input type="text"
         (keyup.enter)="addCity(newCity.value)"
         #newCity
         class="form-control-lg"
         placeholder="Nieuwe stad...">
  <button (click)="addCity(newCity.value)" class="btn btn-primary">Stad toevoegen</button>


  <div *ngIf="currentCity">
    <img class="cityPhoto" [src]="cityPhoto" [alt]="currentCity.name" class="cityPhoto">
    <h2> Gekozen stad: {{ currentCity.name}} </h2>
  </div>


</div>
