<!-- app.component.html -->
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Movies via OMDb API</h1>
      <div>
        <input type="text"
               #keyword
               (keyup.enter)="searchMovies(keyword.value)"
               class="form-control-lg"
               placeholder="movie name...">
        <button class="btn btn-primary"
                (click)="searchMovies(keyword.value)">Find movies</button>
      </div>
      <table class="table table-striped">
        <tr>
          <td>Naam</td>
          <td>Jaar</td>
          <td>Poster</td>
        </tr>
        <tbody>
        <tr *ngFor="let movie of movies$ | async">
          <td>{{ movie.Title }}</td>
          <td>{{ movie.Year }}</td>
          <td>
            <img [src]="movie.Poster" width="100"
                 [alt]="'Poster van '+ movie.Title">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      Zoeken op naam van een film.
    </div>
  </div>
</div>
