<h1>Database</h1>
<p>
    Op basis van de nieuwsberichten sql gaan we opdrachten uitvoeren<br>
</p>

<h2>Opdracht 1</h2>
<p>
	Laat alle nieuws berichten zien<br>
</p>

<h2>Opdracht 2</h2>
<p>
	Geef de naam van de schrijver bij elk bericht weer<br>
</p>

<h2>Opdracht 3</h2>
<p>
	Haal alleen de berichten op van de gebruiker jij
</p>

<h2>Opdracht 4</h2>
<p>
	Hoeveel berichten heeft de gebruiker me geschreven?
</p>


