@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,300italic,400italic");

/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Grid */

	.row {
		border-bottom: solid 1px transparent;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row > * {
		float: left;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row:after, .row:before {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.row.uniform > * > :first-child {
		margin-top: 0;
	}

	.row.uniform > * > :last-child {
		margin-bottom: 0;
	}

	.row.\30 \25 > * {
		padding: 0 0 0 0em;
	}

	.row.\30 \25 {
		margin: 0 0 -1px 0em;
	}

	.row.uniform.\30 \25 > * {
		padding: 0em 0 0 0em;
	}

	.row.uniform.\30 \25 {
		margin: 0em 0 -1px 0em;
	}

	.row > * {
		padding: 0 0 0 2em;
	}

	.row {
		margin: 0 0 -1px -2em;
	}

	.row.uniform > * {
		padding: 2em 0 0 2em;
	}

	.row.uniform {
		margin: -2em 0 -1px -2em;
	}

	.row.\32 00\25 > * {
		padding: 0 0 0 4em;
	}

	.row.\32 00\25 {
		margin: 0 0 -1px -4em;
	}

	.row.uniform.\32 00\25 > * {
		padding: 4em 0 0 4em;
	}

	.row.uniform.\32 00\25 {
		margin: -4em 0 -1px -4em;
	}

	.row.\31 50\25 > * {
		padding: 0 0 0 3em;
	}

	.row.\31 50\25 {
		margin: 0 0 -1px -3em;
	}

	.row.uniform.\31 50\25 > * {
		padding: 3em 0 0 3em;
	}

	.row.uniform.\31 50\25 {
		margin: -3em 0 -1px -3em;
	}

	.row.\35 0\25 > * {
		padding: 0 0 0 1em;
	}

	.row.\35 0\25 {
		margin: 0 0 -1px -1em;
	}

	.row.uniform.\35 0\25 > * {
		padding: 1em 0 0 1em;
	}

	.row.uniform.\35 0\25 {
		margin: -1em 0 -1px -1em;
	}

	.row.\32 5\25 > * {
		padding: 0 0 0 0.5em;
	}

	.row.\32 5\25 {
		margin: 0 0 -1px -0.5em;
	}

	.row.uniform.\32 5\25 > * {
		padding: 0.5em 0 0 0.5em;
	}

	.row.uniform.\32 5\25 {
		margin: -0.5em 0 -1px -0.5em;
	}

	.\31 2u, .\31 2u\24 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}

	.\31 1u, .\31 1u\24 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 0u, .\31 0u\24 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\39 u, .\39 u\24 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}

	.\38 u, .\38 u\24 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\37 u, .\37 u\24 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\36 u, .\36 u\24 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}

	.\35 u, .\35 u\24 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\34 u, .\34 u\24 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\33 u, .\33 u\24 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}

	.\32 u, .\32 u\24 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 u, .\31 u\24 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\31 2u\24 + *,
	.\31 1u\24 + *,
	.\31 0u\24 + *,
	.\39 u\24 + *,
	.\38 u\24 + *,
	.\37 u\24 + *,
	.\36 u\24 + *,
	.\35 u\24 + *,
	.\34 u\24 + *,
	.\33 u\24 + *,
	.\32 u\24 + *,
	.\31 u\24 + * {
		clear: left;
	}

	.\-11u {
		margin-left: 91.66667%;
	}

	.\-10u {
		margin-left: 83.33333%;
	}

	.\-9u {
		margin-left: 75%;
	}

	.\-8u {
		margin-left: 66.66667%;
	}

	.\-7u {
		margin-left: 58.33333%;
	}

	.\-6u {
		margin-left: 50%;
	}

	.\-5u {
		margin-left: 41.66667%;
	}

	.\-4u {
		margin-left: 33.33333%;
	}

	.\-3u {
		margin-left: 25%;
	}

	.\-2u {
		margin-left: 16.66667%;
	}

	.\-1u {
		margin-left: 8.33333%;
	}

	@media screen and (max-width: 1680px) {

		.row > * {
			padding: 0 0 0 2em;
		}

		.row {
			margin: 0 0 -1px -2em;
		}

		.row.uniform > * {
			padding: 2em 0 0 2em;
		}

		.row.uniform {
			margin: -2em 0 -1px -2em;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 4em;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -4em;
		}

		.row.uniform.\32 00\25 > * {
			padding: 4em 0 0 4em;
		}

		.row.uniform.\32 00\25 {
			margin: -4em 0 -1px -4em;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 3em;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -3em;
		}

		.row.uniform.\31 50\25 > * {
			padding: 3em 0 0 3em;
		}

		.row.uniform.\31 50\25 {
			margin: -3em 0 -1px -3em;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 1em;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -1em;
		}

		.row.uniform.\35 0\25 > * {
			padding: 1em 0 0 1em;
		}

		.row.uniform.\35 0\25 {
			margin: -1em 0 -1px -1em;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.5em;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.5em;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.5em 0 0 0.5em;
		}

		.row.uniform.\32 5\25 {
			margin: -0.5em 0 -1px -0.5em;
		}

		.\31 2u\28xlarge\29, .\31 2u\24\28xlarge\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28xlarge\29, .\31 1u\24\28xlarge\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28xlarge\29, .\31 0u\24\28xlarge\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28xlarge\29, .\39 u\24\28xlarge\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28xlarge\29, .\38 u\24\28xlarge\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28xlarge\29, .\37 u\24\28xlarge\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28xlarge\29, .\36 u\24\28xlarge\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28xlarge\29, .\35 u\24\28xlarge\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28xlarge\29, .\34 u\24\28xlarge\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28xlarge\29, .\33 u\24\28xlarge\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28xlarge\29, .\32 u\24\28xlarge\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28xlarge\29, .\31 u\24\28xlarge\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28xlarge\29 + *,
		.\31 1u\24\28xlarge\29 + *,
		.\31 0u\24\28xlarge\29 + *,
		.\39 u\24\28xlarge\29 + *,
		.\38 u\24\28xlarge\29 + *,
		.\37 u\24\28xlarge\29 + *,
		.\36 u\24\28xlarge\29 + *,
		.\35 u\24\28xlarge\29 + *,
		.\34 u\24\28xlarge\29 + *,
		.\33 u\24\28xlarge\29 + *,
		.\32 u\24\28xlarge\29 + *,
		.\31 u\24\28xlarge\29 + * {
			clear: left;
		}

		.\-11u\28xlarge\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28xlarge\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28xlarge\29 {
			margin-left: 75%;
		}

		.\-8u\28xlarge\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28xlarge\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28xlarge\29 {
			margin-left: 50%;
		}

		.\-5u\28xlarge\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28xlarge\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28xlarge\29 {
			margin-left: 25%;
		}

		.\-2u\28xlarge\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28xlarge\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 1280px) {

		.row > * {
			padding: 0 0 0 1.5em;
		}

		.row {
			margin: 0 0 -1px -1.5em;
		}

		.row.uniform > * {
			padding: 1.5em 0 0 1.5em;
		}

		.row.uniform {
			margin: -1.5em 0 -1px -1.5em;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 3em;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -3em;
		}

		.row.uniform.\32 00\25 > * {
			padding: 3em 0 0 3em;
		}

		.row.uniform.\32 00\25 {
			margin: -3em 0 -1px -3em;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 2.25em;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -2.25em;
		}

		.row.uniform.\31 50\25 > * {
			padding: 2.25em 0 0 2.25em;
		}

		.row.uniform.\31 50\25 {
			margin: -2.25em 0 -1px -2.25em;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 0.75em;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -0.75em;
		}

		.row.uniform.\35 0\25 > * {
			padding: 0.75em 0 0 0.75em;
		}

		.row.uniform.\35 0\25 {
			margin: -0.75em 0 -1px -0.75em;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.375em;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.375em;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.375em 0 0 0.375em;
		}

		.row.uniform.\32 5\25 {
			margin: -0.375em 0 -1px -0.375em;
		}

		.\31 2u\28large\29, .\31 2u\24\28large\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28large\29, .\31 1u\24\28large\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28large\29, .\31 0u\24\28large\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28large\29, .\39 u\24\28large\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28large\29, .\38 u\24\28large\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28large\29, .\37 u\24\28large\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28large\29, .\36 u\24\28large\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28large\29, .\35 u\24\28large\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28large\29, .\34 u\24\28large\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28large\29, .\33 u\24\28large\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28large\29, .\32 u\24\28large\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28large\29, .\31 u\24\28large\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28large\29 + *,
		.\31 1u\24\28large\29 + *,
		.\31 0u\24\28large\29 + *,
		.\39 u\24\28large\29 + *,
		.\38 u\24\28large\29 + *,
		.\37 u\24\28large\29 + *,
		.\36 u\24\28large\29 + *,
		.\35 u\24\28large\29 + *,
		.\34 u\24\28large\29 + *,
		.\33 u\24\28large\29 + *,
		.\32 u\24\28large\29 + *,
		.\31 u\24\28large\29 + * {
			clear: left;
		}

		.\-11u\28large\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28large\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28large\29 {
			margin-left: 75%;
		}

		.\-8u\28large\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28large\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28large\29 {
			margin-left: 50%;
		}

		.\-5u\28large\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28large\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28large\29 {
			margin-left: 25%;
		}

		.\-2u\28large\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28large\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 980px) {

		.row > * {
			padding: 0 0 0 1.5em;
		}

		.row {
			margin: 0 0 -1px -1.5em;
		}

		.row.uniform > * {
			padding: 1.5em 0 0 1.5em;
		}

		.row.uniform {
			margin: -1.5em 0 -1px -1.5em;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 3em;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -3em;
		}

		.row.uniform.\32 00\25 > * {
			padding: 3em 0 0 3em;
		}

		.row.uniform.\32 00\25 {
			margin: -3em 0 -1px -3em;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 2.25em;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -2.25em;
		}

		.row.uniform.\31 50\25 > * {
			padding: 2.25em 0 0 2.25em;
		}

		.row.uniform.\31 50\25 {
			margin: -2.25em 0 -1px -2.25em;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 0.75em;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -0.75em;
		}

		.row.uniform.\35 0\25 > * {
			padding: 0.75em 0 0 0.75em;
		}

		.row.uniform.\35 0\25 {
			margin: -0.75em 0 -1px -0.75em;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.375em;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.375em;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.375em 0 0 0.375em;
		}

		.row.uniform.\32 5\25 {
			margin: -0.375em 0 -1px -0.375em;
		}

		.\31 2u\28medium\29, .\31 2u\24\28medium\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28medium\29, .\31 1u\24\28medium\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28medium\29, .\31 0u\24\28medium\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28medium\29, .\39 u\24\28medium\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28medium\29, .\38 u\24\28medium\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28medium\29, .\37 u\24\28medium\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28medium\29, .\36 u\24\28medium\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28medium\29, .\35 u\24\28medium\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28medium\29, .\34 u\24\28medium\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28medium\29, .\33 u\24\28medium\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28medium\29, .\32 u\24\28medium\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28medium\29, .\31 u\24\28medium\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28medium\29 + *,
		.\31 1u\24\28medium\29 + *,
		.\31 0u\24\28medium\29 + *,
		.\39 u\24\28medium\29 + *,
		.\38 u\24\28medium\29 + *,
		.\37 u\24\28medium\29 + *,
		.\36 u\24\28medium\29 + *,
		.\35 u\24\28medium\29 + *,
		.\34 u\24\28medium\29 + *,
		.\33 u\24\28medium\29 + *,
		.\32 u\24\28medium\29 + *,
		.\31 u\24\28medium\29 + * {
			clear: left;
		}

		.\-11u\28medium\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28medium\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28medium\29 {
			margin-left: 75%;
		}

		.\-8u\28medium\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28medium\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28medium\29 {
			margin-left: 50%;
		}

		.\-5u\28medium\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28medium\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28medium\29 {
			margin-left: 25%;
		}

		.\-2u\28medium\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28medium\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 736px) {

		.row > * {
			padding: 0 0 0 1.25em;
		}

		.row {
			margin: 0 0 -1px -1.25em;
		}

		.row.uniform > * {
			padding: 1.25em 0 0 1.25em;
		}

		.row.uniform {
			margin: -1.25em 0 -1px -1.25em;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 2.5em;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -2.5em;
		}

		.row.uniform.\32 00\25 > * {
			padding: 2.5em 0 0 2.5em;
		}

		.row.uniform.\32 00\25 {
			margin: -2.5em 0 -1px -2.5em;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 1.875em;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -1.875em;
		}

		.row.uniform.\31 50\25 > * {
			padding: 1.875em 0 0 1.875em;
		}

		.row.uniform.\31 50\25 {
			margin: -1.875em 0 -1px -1.875em;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 0.625em;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -0.625em;
		}

		.row.uniform.\35 0\25 > * {
			padding: 0.625em 0 0 0.625em;
		}

		.row.uniform.\35 0\25 {
			margin: -0.625em 0 -1px -0.625em;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.3125em;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.3125em;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.3125em 0 0 0.3125em;
		}

		.row.uniform.\32 5\25 {
			margin: -0.3125em 0 -1px -0.3125em;
		}

		.\31 2u\28small\29, .\31 2u\24\28small\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28small\29, .\31 1u\24\28small\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28small\29, .\31 0u\24\28small\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28small\29, .\39 u\24\28small\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28small\29, .\38 u\24\28small\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28small\29, .\37 u\24\28small\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28small\29, .\36 u\24\28small\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28small\29, .\35 u\24\28small\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28small\29, .\34 u\24\28small\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28small\29, .\33 u\24\28small\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28small\29, .\32 u\24\28small\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28small\29, .\31 u\24\28small\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28small\29 + *,
		.\31 1u\24\28small\29 + *,
		.\31 0u\24\28small\29 + *,
		.\39 u\24\28small\29 + *,
		.\38 u\24\28small\29 + *,
		.\37 u\24\28small\29 + *,
		.\36 u\24\28small\29 + *,
		.\35 u\24\28small\29 + *,
		.\34 u\24\28small\29 + *,
		.\33 u\24\28small\29 + *,
		.\32 u\24\28small\29 + *,
		.\31 u\24\28small\29 + * {
			clear: left;
		}

		.\-11u\28small\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28small\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28small\29 {
			margin-left: 75%;
		}

		.\-8u\28small\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28small\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28small\29 {
			margin-left: 50%;
		}

		.\-5u\28small\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28small\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28small\29 {
			margin-left: 25%;
		}

		.\-2u\28small\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28small\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 480px) {

		.row > * {
			padding: 0 0 0 1.25em;
		}

		.row {
			margin: 0 0 -1px -1.25em;
		}

		.row.uniform > * {
			padding: 1.25em 0 0 1.25em;
		}

		.row.uniform {
			margin: -1.25em 0 -1px -1.25em;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 2.5em;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -2.5em;
		}

		.row.uniform.\32 00\25 > * {
			padding: 2.5em 0 0 2.5em;
		}

		.row.uniform.\32 00\25 {
			margin: -2.5em 0 -1px -2.5em;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 1.875em;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -1.875em;
		}

		.row.uniform.\31 50\25 > * {
			padding: 1.875em 0 0 1.875em;
		}

		.row.uniform.\31 50\25 {
			margin: -1.875em 0 -1px -1.875em;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 0.625em;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -0.625em;
		}

		.row.uniform.\35 0\25 > * {
			padding: 0.625em 0 0 0.625em;
		}

		.row.uniform.\35 0\25 {
			margin: -0.625em 0 -1px -0.625em;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.3125em;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.3125em;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.3125em 0 0 0.3125em;
		}

		.row.uniform.\32 5\25 {
			margin: -0.3125em 0 -1px -0.3125em;
		}

		.\31 2u\28xsmall\29, .\31 2u\24\28xsmall\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28xsmall\29, .\31 1u\24\28xsmall\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28xsmall\29, .\31 0u\24\28xsmall\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28xsmall\29, .\39 u\24\28xsmall\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28xsmall\29, .\38 u\24\28xsmall\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28xsmall\29, .\37 u\24\28xsmall\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28xsmall\29, .\36 u\24\28xsmall\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28xsmall\29, .\35 u\24\28xsmall\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28xsmall\29, .\34 u\24\28xsmall\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28xsmall\29, .\33 u\24\28xsmall\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28xsmall\29, .\32 u\24\28xsmall\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28xsmall\29, .\31 u\24\28xsmall\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28xsmall\29 + *,
		.\31 1u\24\28xsmall\29 + *,
		.\31 0u\24\28xsmall\29 + *,
		.\39 u\24\28xsmall\29 + *,
		.\38 u\24\28xsmall\29 + *,
		.\37 u\24\28xsmall\29 + *,
		.\36 u\24\28xsmall\29 + *,
		.\35 u\24\28xsmall\29 + *,
		.\34 u\24\28xsmall\29 + *,
		.\33 u\24\28xsmall\29 + *,
		.\32 u\24\28xsmall\29 + *,
		.\31 u\24\28xsmall\29 + * {
			clear: left;
		}

		.\-11u\28xsmall\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28xsmall\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28xsmall\29 {
			margin-left: 75%;
		}

		.\-8u\28xsmall\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28xsmall\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28xsmall\29 {
			margin-left: 50%;
		}

		.\-5u\28xsmall\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28xsmall\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28xsmall\29 {
			margin-left: 25%;
		}

		.\-2u\28xsmall\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28xsmall\29 {
			margin-left: 8.33333%;
		}

	}

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	body {
		background: #ffffff;
	}

		body.is-loading *, body.is-loading *:before, body.is-loading *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

/* Type */

	body {
		background-color: #ffffff;
		color: #5a5a5a;
	}

	body, input, select, textarea {
		font-family: "Open Sans", Arial, Helvetica, sans-serif;
		font-size: 13pt;
		font-weight: 300;
		line-height: 1.75;
	}

		@media screen and (max-width: 1680px) {

			body, input, select, textarea {
				font-size: 11pt;
			}

		}

	a {
		text-decoration: underline;
	}

		a:hover {
			text-decoration: none;
		}

	strong, b {
		font-weight: 400;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		line-height: 1.5;
		letter-spacing: 0.04em;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h1 {
		font-size: 3.25em;
		line-height: 1.3;
	}

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.2em;
		font-weight: 400;
	}

	h4 {
		font-size: 1em;
		font-weight: 400;
	}

	h5 {
		font-size: 1em;
		font-weight: 400;
	}

	h6 {
		font-size: 1em;
		font-weight: 400;
	}

	@media screen and (max-width: 1280px) {

		h1 {
			font-size: 2.5em;
			line-height: 1.5;
		}

		h2 {
			font-size: 1.75em;
		}

		h3 {
			font-size: 1em;
		}

		h4 {
			font-size: 1em;
		}

	}

	@media screen and (max-width: 736px) {

		h1 {
			font-size: 1.75em;
		}

		h2 {
			font-size: 1.25em;
		}

		h3 {
			font-size: 1em;
		}

	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	blockquote {
		border-left: solid 4px;
		font-style: italic;
		margin: 0 0 2em 0;
		padding: 0.5em 0 0.5em 2em;
	}

	code {
		border-radius: 4px;
		border: solid 1px;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0 2em 0;
	}

		pre code {
			display: block;
			line-height: 1.75;
			padding: 1em 1.5em;
			overflow-x: auto;
		}

	hr {
		border: 0;
		border-bottom: solid 1px;
		margin: 2em 0;
	}

		hr.major {
			margin: 3em 0;
		}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

	input, select, textarea {
		color: #333333;
	}

	a {
		color: #ff887b;
	}

	strong, b {
		color: #333333;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #333333;
	}

	blockquote {
		border-left-color: rgba(144, 144, 144, 0.25);
	}

	code {
		background: rgba(144, 144, 144, 0.075);
		border-color: rgba(144, 144, 144, 0.25);
	}

	hr {
		border-bottom-color: rgba(144, 144, 144, 0.25);
	}

/* Box */

	.box {
		border-radius: 4px;
		border: solid 1px;
		margin-bottom: 2em;
		padding: 1.5em;
	}

		.box > :last-child,
		.box > :last-child > :last-child,
		.box > :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		.box.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
		}

	.box {
		border-color: rgba(144, 144, 144, 0.25);
	}

/* Split */

	.split {
		-moz-align-items: -moz-flex-start;
		-webkit-align-items: -webkit-flex-start;
		-ms-align-items: -ms-flex-start;
		align-items: flex-start;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		margin-left: -6em;
		margin-bottom: 2em;
	}

		.split > * {
			margin-left: 6em !important;
			width: 50%;
			-ms-flex: 1 1 auto;
		}

			.split > * > :last-child {
				margin-bottom: 0;
			}

		.split.centered {
			-moz-align-items: center;
			-webkit-align-items: center;
			-ms-align-items: center;
			align-items: center;
		}

		.split.style1 > *:nth-child(2n - 1) {
			width: 33%;
		}

		.split.style1 > *:nth-child(2n) {
			width: 67%;
		}

		@media screen and (max-width: 1280px) {

			.split {
				margin-left: -3.75em;
			}

				.split > * {
					margin-left: 3.75em !important;
				}

				.split.centered {
					-moz-align-items: -moz-flex-start;
					-webkit-align-items: -webkit-flex-start;
					-ms-align-items: -ms-flex-start;
					align-items: flex-start;
				}

		}

		@media screen and (max-width: 980px) {

			.split {
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				margin-left: 0;
			}

				.split > * {
					margin-left: 0 !important;
					margin-top: 3.75em !important;
					width: 100% !important;
				}

					.split > *:first-child {
						margin-top: 0 !important;
					}

				.split.reversed {
					-moz-flex-direction: column-reverse;
					-webkit-flex-direction: column-reverse;
					-ms-flex-direction: column-reverse;
					flex-direction: column-reverse;
				}

					.split.reversed > * {
						margin-bottom: 3.75em !important;
						margin-top: 0 !important;
					}

						.split.reversed > *:first-child {
							margin-bottom: 0 !important;
						}

		}

		@media screen and (max-width: 736px) {

			.split > * {
				margin-top: 3em !important;
			}

			.split.reversed > * {
				margin-bottom: 3em !important;
			}

		}

/* Features */

	.features {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

		.features > article {
			border-style: solid;
			border-top-width: 1px;
			border-right-width: 0;
			border-bottom-width: 0;
			border-left-width: 1px;
			padding: 2.25em 0;
			position: relative;
		}

			.features > article > :last-child {
				margin-bottom: 0;
			}

			.features > article:before {
				position: absolute;
				font-size: 1.875rem;
				top: 0.75em;
			}

			.features > article:nth-child(1), .features > article:nth-child(2) {
				border-top-width: 0;
			}

			.features > article:nth-child(2n -1) {
				border-left-width: 0;
				padding-left: 3.5em;
				padding-right: 3em;
				width: 50%;
			}

				.features > article:nth-child(2n -1):before {
					left: 0;
				}

			.features > article:nth-child(2n) {
				padding-left: 6.5em;
				padding-right: 0;
				width: 50%;
			}

				.features > article:nth-child(2n):before {
					left: 1.5em;
				}

			.features > article h3 {
				margin: 0 0 0.5em 0;
			}

		@media screen and (max-width: 1280px) {

			.features > article {
				padding: 1.6875em 0;
			}

				.features > article:before {
					font-size: 1.5rem;
					top: 0.69231em;
				}

				.features > article:nth-child(2n -1) {
					padding-left: 2.75em;
					padding-right: 2.25em;
				}

				.features > article:nth-child(2n) {
					padding-left: 5em;
					padding-right: 0;
				}

					.features > article:nth-child(2n):before {
						left: 1.38462em;
					}

		}

		@media screen and (max-width: 980px) {

			.features > article {
				padding: 3em 0;
			}

				.features > article:before {
					font-size: 1.5rem;
					top: 1.52308em;
				}

				.features > article:nth-child(2n -1) {
					padding-left: 3em;
					padding-right: 3em;
				}

				.features > article:nth-child(2n) {
					padding-left: 6em;
					padding-right: 0;
				}

					.features > article:nth-child(2n):before {
						left: 1.84615em;
					}

		}

		@media screen and (max-width: 480px) {

			.features > article {
				border-left-width: 0;
				padding: 2.25em 0;
			}

				.features > article:before {
					top: 0.96923em;
				}

				.features > article:nth-child(1) {
					border-top-width: 0;
				}

				.features > article:nth-last-child(1) {
					padding-bottom: 0;
				}

				.features > article:nth-child(2) {
					border-top-width: 1px;
				}

				.features > article:nth-child(2n -1) {
					padding-left: 3em;
					padding-right: 0;
					width: 100%;
				}

					.features > article:nth-child(2n -1):before {
						left: 0;
					}

				.features > article:nth-child(2n) {
					padding-left: 3em;
					padding-right: 0;
					width: 100%;
				}

					.features > article:nth-child(2n):before {
						left: 0;
					}

		}

	.features > article {
		border-color: rgba(144, 144, 144, 0.25);
	}

		.features > article:before, .features > article h3 {
			color: #ff887b;
		}

/* Stats */

	.stats {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		margin: 0 0 2em 0;
	}

		.stats > article {
			-moz-flex-grow: 1;
			-webkit-flex-grow: 1;
			-ms-flex-grow: 1;
			flex-grow: 1;
			-moz-flex-shrink: 1;
			-webkit-flex-shrink: 1;
			-ms-flex-shrink: 1;
			flex-shrink: 1;
			border-style: solid;
			border-right-width: 1px;
			padding: 0 3em;
		}

			.stats > article:nth-last-child(1) {
				border-right-width: 0;
			}

			.stats > article h3 span {
				display: block;
				font-size: 3em;
				font-weight: 300;
				line-height: 1;
				margin-bottom: 0.25em;
			}

			.stats > article > :last-child {
				margin-bottom: 0;
			}

		@media screen and (max-width: 1280px) {

			.stats > article {
				padding: 0 1.5em;
			}

		}

		@media screen and (max-width: 980px) {

			.stats {
				-moz-flex-wrap: wrap;
				-webkit-flex-wrap: wrap;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
			}

				.stats > article {
					border-top-width: 1px;
					padding: 3em;
					width: 50%;
				}

					.stats > article:nth-child(1), .stats > article:nth-child(2) {
						border-top-width: 0;
					}

					.stats > article:nth-last-child(2n - 1) {
						border-right-width: 0;
					}

		}

		@media screen and (max-width: 480px) {

			.stats {
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
			}

				.stats > article {
					border-right: 0;
					padding: 3em 0;
					width: 100%;
				}

					.stats > article:nth-child(1) {
						padding-top: 1.5em;
					}

					.stats > article:nth-child(2) {
						border-top-width: 1px;
					}

					.stats > article:nth-last-child(1) {
						padding-bottom: 1.5em;
					}

		}

	.stats > article {
		border-color: rgba(144, 144, 144, 0.25);
	}

/* Tabs */

	.tabs {
		margin: 0 0 2em 0;
	}

		.tabs .titles {
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
			user-select: none;
			list-style-type: none;
			margin-bottom: -1px;
			padding-left: 0;
		}

			.tabs .titles li {
				-moz-transition-property: color, background-color;
				-webkit-transition-property: color, background-color;
				-ms-transition-property: color, background-color;
				transition-property: color, background-color;
				-moz-transition-duration: 0.2s;
				-webkit-transition-duration: 0.2s;
				-ms-transition-duration: 0.2s;
				transition-duration: 0.2s;
				border-style: solid;
				border-width: 1px 1px 0 0;
				display: inline-block;
				font-size: 1.2em;
				font-weight: 400;
				padding: 1em 3em;
			}

				.tabs .titles li:first-child {
					border-left-width: 1px;
				}

				.tabs .titles li.active {
					padding-top: 1.5em;
					border-left-width: 1px;
				}

				.tabs .titles li + .active {
					margin-left: -1px;
				}

		.tabs .panels {
			padding: 3.75em 3.75em 1.75em 3.75em ;
			border-style: solid;
			border-width: 1px;
		}

		.tabs .panel {
			-moz-transition: opacity 0.2s ease-in-out;
			-webkit-transition: opacity 0.2s ease-in-out;
			-ms-transition: opacity 0.2s ease-in-out;
			transition: opacity 0.2s ease-in-out;
			opacity: 0;
		}

			.tabs .panel .image {
				margin-bottom: 0;
			}

				.tabs .panel .image img {
					width: 100%;
				}

			.tabs .panel.active {
				opacity: 1;
			}

		@media screen and (max-width: 1280px) {

			.tabs .titles li {
				font-size: 1em;
			}

		}

		@media screen and (max-width: 736px) {

			.tabs .panels {
				padding: 2em 2em 0.1em 2em ;
			}

		}

		@media screen and (max-width: 480px) {

			.tabs .titles li {
				font-size: 0.8em;
				padding: 1em;
			}

				.tabs .titles li.active {
					padding-top: 1em;
				}

			.tabs .panels {
				padding: 2em 2em 0.1em 2em ;
			}

		}

		@media screen and (orientation: portrait) {

			.tabs .titles {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
			}

				.tabs .titles li {
					-moz-flex-grow: 1;
					-webkit-flex-grow: 1;
					-ms-flex-grow: 1;
					flex-grow: 1;
					-moz-flex-shrink: 1;
					-webkit-flex-shrink: 1;
					-ms-flex-shrink: 1;
					flex-shrink: 1;
					text-align: center;
				}

					.tabs .titles li.active {
						padding-top: 1em;
					}

		}

	.tabs .titles li {
		border-color: rgba(144, 144, 144, 0.25);
		background-color: rgba(144, 144, 144, 0.075);
	}

		.tabs .titles li.active {
			background-color: #ffffff;
			border-bottom-color: #ffffff;
			color: #ff887b;
		}

	.tabs .panels {
		border-color: rgba(144, 144, 144, 0.25);
	}

/* Quotes */

	.quotes {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		background-color: #ff887b;
		color: rgba(255, 255, 255, 0.75);
		text-align: center;
	}

		.quotes input, .quotes select, .quotes textarea {
			color: #ffffff;
		}

		.quotes a {
			color: #ffffff;
		}

		.quotes strong, .quotes b {
			color: #ffffff;
		}

		.quotes h1, .quotes h2, .quotes h3, .quotes h4, .quotes h5, .quotes h6 {
			color: #ffffff;
		}

		.quotes blockquote {
			border-left-color: rgba(255, 255, 255, 0.25);
		}

		.quotes code {
			background: rgba(255, 255, 255, 0.075);
			border-color: rgba(255, 255, 255, 0.25);
		}

		.quotes hr {
			border-bottom-color: rgba(255, 255, 255, 0.25);
		}

		.quotes > article {
			padding: 8em 0 6em 0 ;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
			width: 50%;
		}

			.quotes > article .author {
				margin: 0 0 2em 0;
			}

				.quotes > article .author .name {
					color: #ff887b;
					display: block;
					font-size: 1.2em;
					font-weight: 400;
					margin: 0 0 0.5em 0;
				}

				.quotes > article .author .title {
					display: block;
				}

			.quotes > article:nth-child(odd) {
				padding-left: calc(50vw - 40em);
				padding-right: 3em;
			}

			.quotes > article:nth-child(even) {
				padding-left: 3em;
				padding-right: calc(50vw - 40em);
			}

			.quotes > article:before {
				background-color: #ff887b;
				border-radius: 100%;
				display: inline-block;
				font-size: 2em;
				height: 2.4em;
				line-height: 2.4em;
				margin-bottom: 0.7em;
				position: relative;
				text-align: center;
				width: 2.4em;
				z-index: 1;
			}

			.quotes > article:after {
				-moz-transition: opacity 1s ease-in-out;
				-webkit-transition: opacity 1s ease-in-out;
				-ms-transition: opacity 1s ease-in-out;
				transition: opacity 1s ease-in-out;
				-moz-transition-delay: 0.75s;
				-webkit-transition-delay: 0.75s;
				-ms-transition-delay: 0.75s;
				transition-delay: 0.75s;
				background: #202020;
				content: '';
				display: block;
				height: 100%;
				left: 0;
				opacity: 0.25;
				position: absolute;
				top: 0;
				width: 100%;
			}

			.quotes > article > * {
				position: relative;
				z-index: 1;
			}

		@media screen and (max-width: 1280px) {

			.quotes > article:nth-child(odd) {
				padding-left: 3em;
				padding-right: 3em;
			}

			.quotes > article:nth-child(even) {
				padding-left: 3em;
				padding-right: 3em;
			}

		}

		@media screen and (max-width: 980px) {

			.quotes > article {
				width: 100%;
			}

		}

		@media screen and (max-width: 736px) {

			.quotes > article {
				padding: 4em 0 2em 0 ;
			}

		}

/* Ratungs */

	.ratings {
		margin: 0 0 2em 0;
	}

		.ratings > article {
			margin-bottom: 2.5em;
		}

			.ratings > article:last-child {
				margin-bottom: 0;
			}

		.ratings .progress {
			border-style: solid;
			border-top-width: 1px;
			font-size: 0.9em;
			padding-top: 0.25em;
			position: relative;
		}

			.ratings .progress:before {
				content: '';
				height: 1px;
				left: 0;
				position: absolute;
				top: -1px;
			}

			.ratings .progress[data-progress="0"]:before {
				width: 0%;
			}

			.ratings .progress[data-progress="5"]:before {
				width: 5%;
			}

			.ratings .progress[data-progress="10"]:before {
				width: 10%;
			}

			.ratings .progress[data-progress="15"]:before {
				width: 15%;
			}

			.ratings .progress[data-progress="20"]:before {
				width: 20%;
			}

			.ratings .progress[data-progress="25"]:before {
				width: 25%;
			}

			.ratings .progress[data-progress="30"]:before {
				width: 30%;
			}

			.ratings .progress[data-progress="35"]:before {
				width: 35%;
			}

			.ratings .progress[data-progress="40"]:before {
				width: 40%;
			}

			.ratings .progress[data-progress="45"]:before {
				width: 45%;
			}

			.ratings .progress[data-progress="50"]:before {
				width: 50%;
			}

			.ratings .progress[data-progress="55"]:before {
				width: 55%;
			}

			.ratings .progress[data-progress="60"]:before {
				width: 60%;
			}

			.ratings .progress[data-progress="65"]:before {
				width: 65%;
			}

			.ratings .progress[data-progress="70"]:before {
				width: 70%;
			}

			.ratings .progress[data-progress="75"]:before {
				width: 75%;
			}

			.ratings .progress[data-progress="80"]:before {
				width: 80%;
			}

			.ratings .progress[data-progress="85"]:before {
				width: 85%;
			}

			.ratings .progress[data-progress="90"]:before {
				width: 90%;
			}

			.ratings .progress[data-progress="95"]:before {
				width: 95%;
			}

			.ratings .progress[data-progress="100"]:before {
				width: 100%;
			}

		@media screen and (max-width: 736px) {

			.ratings > article {
				margin-bottom: 1.5em;
			}

		}

	.progress {
		border-color: rgba(144, 144, 144, 0.25);
		color: #ff887b;
	}

		.progress:before {
			background-color: currentColor;
		}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		border-radius: 4px;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-size: 0.9em;
		font-weight: 400;
		height: 3.5em;
		letter-spacing: 0.05em;
		line-height: 3.5em;
		padding: 0 2em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
	}

		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		input[type="button"].icon:before,
		button.icon:before,
		.button.icon:before {
			margin-right: 0.5em;
		}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		button.fit,
		.button.fit {
			display: block;
			margin: 0 0 1em 0;
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.7em;
		}

		input[type="submit"].big,
		input[type="reset"].big,
		input[type="button"].big,
		button.big,
		.button.big {
			font-size: 1.1em;
		}

		input[type="submit"].wide,
		input[type="reset"].wide,
		input[type="button"].wide,
		button.wide,
		.button.wide {
			min-width: 15em;
		}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			-moz-pointer-events: none;
			-webkit-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			opacity: 0.25;
		}

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		background-color: transparent;
		box-shadow: inset 0 0 0 1px #5a5a5a;
		color: #333333 !important;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			background-color: rgba(144, 144, 144, 0.075);
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		button:active,
		.button:active {
			background-color: rgba(144, 144, 144, 0.2);
		}

		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		input[type="button"].icon:before,
		button.icon:before,
		.button.icon:before {
			color: #aaaaaa;
		}

		input[type="submit"].special,
		input[type="reset"].special,
		input[type="button"].special,
		button.special,
		.button.special {
			box-shadow: none;
			background-color: #ff887b;
			color: #ffffff !important;
		}

			input[type="submit"].special.icon:before,
			input[type="reset"].special.icon:before,
			input[type="button"].special.icon:before,
			button.special.icon:before,
			.button.special.icon:before {
				color: #ffffff !important;
			}

			input[type="submit"].special:hover,
			input[type="reset"].special:hover,
			input[type="button"].special:hover,
			button.special:hover,
			.button.special:hover {
				background-color: #ff9f95;
			}

			input[type="submit"].special:active,
			input[type="reset"].special:active,
			input[type="button"].special:active,
			button.special:active,
			.button.special:active {
				background-color: #ff7162;
			}

/* Form */

	form {
		margin: 0 0 2em 0;
	}

		form .field {
			margin-bottom: 1.5em;
		}

			form .field.half {
				display: inline-block;
				width: 48%;
			}

				form .field.half.first {
					margin-right: 3%;
				}

		form > .actions {
			margin-top: 3em;
		}

		@media screen and (max-width: 980px) {

			form .field.half {
				display: block;
				width: 100%;
			}

				form .field.half.first {
					margin-right: 0;
				}

		}

	label {
		display: block;
		font-size: 0.9em;
		font-weight: 400;
		margin: 0 0 1em 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		border-radius: 4px;
		border: solid 1px;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

	.select-wrapper {
		text-decoration: none;
		display: block;
		position: relative;
	}

		.select-wrapper:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.select-wrapper:before {
			content: '\f078';
			display: block;
			height: 3.5em;
			line-height: 3.5em;
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: 3.5em;
		}

		.select-wrapper select::-ms-expand {
			display: none;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: 3.5em;
	}

	textarea {
		padding: 0.75em 1em;
		resize: vertical;
	}

	input[type="checkbox"],
	input[type="radio"] {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		display: block;
		float: left;
		margin-right: -2em;
		opacity: 0;
		width: 1em;
		z-index: -1;
	}

		input[type="checkbox"] + label,
		input[type="radio"] + label {
			text-decoration: none;
			cursor: pointer;
			display: inline-block;
			font-size: 1em;
			font-weight: 300;
			padding-left: 2.85em;
			padding-right: 0.75em;
			position: relative;
		}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				border-radius: 4px;
				border: solid 1px;
				content: '';
				display: inline-block;
				height: 2.1em;
				left: 0;
				line-height: 2.0125em;
				position: absolute;
				text-align: center;
				top: 0;
				width: 2.1em;
			}

		input[type="checkbox"]:checked + label:before,
		input[type="radio"]:checked + label:before {
			content: '\f00c';
		}

	input[type="checkbox"] + label:before {
		border-radius: 4px;
	}

	input[type="radio"] + label:before {
		border-radius: 100%;
	}

	::-webkit-input-placeholder {
		opacity: 1.0;
	}

	:-moz-placeholder {
		opacity: 1.0;
	}

	::-moz-placeholder {
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		opacity: 1.0;
	}

	.formerize-placeholder {
		opacity: 1.0;
	}

	label {
		color: #333333;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		background: transparent;
		border-color: rgba(144, 144, 144, 0.25);
	}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		select:focus,
		textarea:focus {
			border-color: #ff887b;
			box-shadow: 0 0 0 1px #ff887b;
		}

	.select-wrapper:before {
		color: rgba(144, 144, 144, 0.25);
	}

	input[type="checkbox"] + label,
	input[type="radio"] + label {
		color: #5a5a5a;
	}

		input[type="checkbox"] + label:before,
		input[type="radio"] + label:before {
			background: rgba(144, 144, 144, 0.075);
			border-color: rgba(144, 144, 144, 0.25);
		}

	input[type="checkbox"]:checked + label:before,
	input[type="radio"]:checked + label:before {
		background-color: #ff887b;
		border-color: #ff887b;
		color: #ffffff;
	}

	input[type="checkbox"]:focus + label:before,
	input[type="radio"]:focus + label:before {
		border-color: #ff887b;
		box-shadow: 0 0 0 1px #ff887b;
	}

	::-webkit-input-placeholder {
		color: #aaaaaa !important;
	}

	:-moz-placeholder {
		color: #aaaaaa !important;
	}

	::-moz-placeholder {
		color: #aaaaaa !important;
	}

	:-ms-input-placeholder {
		color: #aaaaaa !important;
	}

	.formerize-placeholder {
		color: #aaaaaa !important;
	}

/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

/* Image */

	.image {
		border-radius: 4px;
		border: 0;
		display: inline-block;
		margin: 0 0 2em 0;
		position: relative;
	}

		.image img {
			border-radius: 4px;
			display: block;
		}

		.image.left, .image.right {
			max-width: 45%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.left {
			float: left;
			margin: 0 1.5em 1em 0;
			top: 0.25em;
		}

		.image.right {
			float: right;
			margin: 0 0 1em 1.5em;
			top: 0.25em;
		}

		.image.fit {
			display: block;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}

		.image.main {
			display: block;
			margin: 0 0 3em 0;
			width: 100%;
		}

			.image.main img {
				width: 100%;
			}

		@media screen and (max-width: 980px) {

			.image.fit.portrait img {
				-moz-object-fit: cover;
				-webkit-object-fit: cover;
				-ms-object-fit: cover;
				object-fit: cover;
				-moz-object-position: center;
				-webkit-object-position: center;
				-ms-object-position: center;
				object-position: center;
				max-height: 30em;
			}

		}

		@media screen and (max-width: 736px) {

			.image.fit.portrait img {
				max-height: 20em;
			}

			.image.main {
				margin: 0 0 2em 0;
			}

		}

/* List */

	ol {
		list-style: decimal;
		margin: 0 0 2em 0;
		padding-left: 1.25em;
	}

		ol li {
			padding-left: 0.25em;
		}

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				border-top: solid 1px;
				padding: 0.5em 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

		ul.icons {
			cursor: default;
			list-style: none;
			margin-left: -1em;
			margin-top: -1em;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 1em 0 0 1em;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

				ul.icons li .icon:before {
					font-size: 1.25em;
				}

		ul.icons-bordered {
			list-style: none;
			margin-left: -1em;
			margin-top: -1em;
			padding-left: 0;
		}

			ul.icons-bordered li {
				display: inline-block;
				padding: 1em 0 0 1em;
			}

				ul.icons-bordered li:last-child {
					padding-right: 0;
				}

				ul.icons-bordered li .icon {
					-moz-transition: background-color 0.2s ease-in-out;
					-webkit-transition: background-color 0.2s ease-in-out;
					-ms-transition: background-color 0.2s ease-in-out;
					transition: background-color 0.2s ease-in-out;
					border-radius: 4px;
					border-style: solid;
					border-width: 1px;
					display: block;
					font-size: 1.25em;
					height: 2.25em;
					line-height: 2.25em;
					text-align: center;
					width: 2.25em;
				}

		ul.contact-icons {
			list-style-type: none;
			padding: 0;
		}

			ul.contact-icons li {
				margin-bottom: 1.5em;
				min-height: 2.4em;
				padding-left: 2.25em;
			}

				ul.contact-icons li:before {
					font-size: 1.25em;
					left: 0;
					position: absolute;
					top: -0.1em;
				}

				ul.contact-icons li a {
					text-decoration: none;
				}

		ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.actions li {
				display: inline-block;
				padding: 0 1em 0 0;
				vertical-align: middle;
			}

				ul.actions li:last-child {
					padding-right: 0;
				}

			ul.actions.small li {
				padding: 0 0.5em 0 0;
			}

			ul.actions.vertical li {
				display: block;
				padding: 1em 0 0 0;
			}

				ul.actions.vertical li:first-child {
					padding-top: 0;
				}

				ul.actions.vertical li > * {
					margin-bottom: 0;
				}

			ul.actions.vertical.small li {
				padding: 0.5em 0 0 0;
			}

				ul.actions.vertical.small li:first-child {
					padding-top: 0;
				}

			ul.actions.fit {
				display: table;
				margin-left: -1em;
				padding: 0;
				table-layout: fixed;
				width: calc(100% + 1em);
			}

				ul.actions.fit li {
					display: table-cell;
					padding: 0 0 0 1em;
				}

					ul.actions.fit li > * {
						margin-bottom: 0;
					}

				ul.actions.fit.small {
					margin-left: -0.5em;
					width: calc(100% + 0.5em);
				}

					ul.actions.fit.small li {
						padding: 0 0 0 0.5em;
					}

			@media screen and (max-width: 480px) {

				ul.actions {
					margin: 0 0 2em 0;
				}

					ul.actions li {
						display: block;
						padding: 1em 0 0 0;
						text-align: center;
						width: 100%;
					}

						ul.actions li:first-child {
							padding-top: 0;
						}

						ul.actions li > * {
							margin: 0 !important;
							width: 100%;
						}

							ul.actions li > *.icon:before {
								margin-left: -2em;
							}

					ul.actions.small li {
						padding: 0.5em 0 0 0;
					}

						ul.actions.small li:first-child {
							padding-top: 0;
						}

			}

	dl {
		margin: 0 0 2em 0;
	}

		dl dt {
			display: block;
			font-weight: 400;
			margin: 0 0 1em 0;
		}

		dl dd {
			margin-left: 2em;
		}

	ul.alt li {
		border-top-color: rgba(144, 144, 144, 0.25);
	}

	ul.icons-bordered .icon {
		border-color: #5a5a5a;
	}

		ul.icons-bordered .icon:hover {
			background-color: rgba(144, 144, 144, 0.075);
		}

		ul.icons-bordered .icon:active {
			background-color: rgba(144, 144, 144, 0.2);
		}

	ul.contact-icons li:before {
		color: #333333;
	}

/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header p {
		position: relative;
		margin: 0 0 2em 0;
	}

	header h1 + p {
		font-size: 1.5em;
		margin-top: -2.65em;
	}

	header h2 + p {
		font-size: 1.25em;
		margin-top: -2em;
	}

	header h3 + p {
		font-size: 1em;
		margin-top: -1.25em;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.9em;
		margin-top: -0.65em;
	}

	@media screen and (max-width: 1280px) {

		header h1 + p {
			font-size: 1.25em;
			margin-top: -2.5em;
		}

		header h2 + p {
			font-size: 1em;
			margin-top: -2em;
		}

	}

	@media screen and (max-width: 736px) {

		header h1 + p {
			font-size: 1.25em;
			margin-top: -1.65em;
		}

		header h2 + p {
			font-size: 1em;
			margin-top: -1.25em;
		}

	}

	header p {
		color: #aaaaaa;
	}

/* Table */

	.table-wrapper {
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}

	table {
		margin: 0 0 2em 0;
		width: 100%;
	}

		table tbody tr {
			border: solid 1px;
			border-left: 0;
			border-right: 0;
		}

		table td {
			padding: 0.75em 0.75em;
		}

		table th {
			font-size: 0.9em;
			font-weight: 400;
			padding: 0 0.75em 0.75em 0.75em;
			text-align: left;
		}

		table thead {
			border-bottom: solid 2px;
		}

		table tfoot {
			border-top: solid 2px;
		}

		table.alt {
			border-collapse: separate;
		}

			table.alt tbody tr td {
				border: solid 1px;
				border-left-width: 0;
				border-top-width: 0;
			}

				table.alt tbody tr td:first-child {
					border-left-width: 1px;
				}

			table.alt tbody tr:first-child td {
				border-top-width: 1px;
			}

			table.alt thead {
				border-bottom: 0;
			}

			table.alt tfoot {
				border-top: 0;
			}

	table tbody tr {
		border-color: rgba(144, 144, 144, 0.25);
	}

		table tbody tr:nth-child(2n + 1) {
			background-color: rgba(144, 144, 144, 0.075);
		}

	table th {
		color: #333333;
	}

	table thead {
		border-bottom-color: rgba(144, 144, 144, 0.25);
	}

	table tfoot {
		border-top-color: rgba(144, 144, 144, 0.25);
	}

	table.alt tbody tr td {
		border-color: rgba(144, 144, 144, 0.25);
	}

/* Wrapper */

	.wrapper {
		padding: 7.5em 0 5.5em 0 ;
		position: relative;
	}

		.wrapper > .inner {
			margin: 0 auto;
			width: 80em;
			max-width: calc(100% - 6em);
		}

		.wrapper.style1 {
			background-color: #ff887b;
			color: rgba(255, 255, 255, 0.75);
		}

			.wrapper.style1 input, .wrapper.style1 select, .wrapper.style1 textarea {
				color: #ffffff;
			}

			.wrapper.style1 a {
				color: #ffffff;
			}

			.wrapper.style1 strong, .wrapper.style1 b {
				color: #ffffff;
			}

			.wrapper.style1 h1, .wrapper.style1 h2, .wrapper.style1 h3, .wrapper.style1 h4, .wrapper.style1 h5, .wrapper.style1 h6 {
				color: #ffffff;
			}

			.wrapper.style1 blockquote {
				border-left-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style1 code {
				background: rgba(255, 255, 255, 0.075);
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style1 hr {
				border-bottom-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style1 .box {
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style1 input[type="submit"],
			.wrapper.style1 input[type="reset"],
			.wrapper.style1 input[type="button"],
			.wrapper.style1 button,
			.wrapper.style1 .button {
				background-color: transparent;
				box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.75);
				color: #ffffff !important;
			}

				.wrapper.style1 input[type="submit"]:hover,
				.wrapper.style1 input[type="reset"]:hover,
				.wrapper.style1 input[type="button"]:hover,
				.wrapper.style1 button:hover,
				.wrapper.style1 .button:hover {
					background-color: rgba(255, 255, 255, 0.075);
				}

				.wrapper.style1 input[type="submit"]:active,
				.wrapper.style1 input[type="reset"]:active,
				.wrapper.style1 input[type="button"]:active,
				.wrapper.style1 button:active,
				.wrapper.style1 .button:active {
					background-color: rgba(255, 255, 255, 0.2);
				}

				.wrapper.style1 input[type="submit"].icon:before,
				.wrapper.style1 input[type="reset"].icon:before,
				.wrapper.style1 input[type="button"].icon:before,
				.wrapper.style1 button.icon:before,
				.wrapper.style1 .button.icon:before {
					color: rgba(255, 255, 255, 0.5);
				}

				.wrapper.style1 input[type="submit"].special,
				.wrapper.style1 input[type="reset"].special,
				.wrapper.style1 input[type="button"].special,
				.wrapper.style1 button.special,
				.wrapper.style1 .button.special {
					box-shadow: none;
					background-color: #ffffff;
					color: #ff887b !important;
				}

					.wrapper.style1 input[type="submit"].special.icon:before,
					.wrapper.style1 input[type="reset"].special.icon:before,
					.wrapper.style1 input[type="button"].special.icon:before,
					.wrapper.style1 button.special.icon:before,
					.wrapper.style1 .button.special.icon:before {
						color: #ff887b !important;
					}

			.wrapper.style1 label {
				color: #ffffff;
			}

			.wrapper.style1 input[type="text"],
			.wrapper.style1 input[type="password"],
			.wrapper.style1 input[type="email"],
			.wrapper.style1 select,
			.wrapper.style1 textarea {
				background: transparent;
				border-color: rgba(255, 255, 255, 0.25);
			}

				.wrapper.style1 input[type="text"]:focus,
				.wrapper.style1 input[type="password"]:focus,
				.wrapper.style1 input[type="email"]:focus,
				.wrapper.style1 select:focus,
				.wrapper.style1 textarea:focus {
					border-color: #ffffff;
					box-shadow: 0 0 0 1px #ffffff;
				}

			.wrapper.style1 .select-wrapper:before {
				color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style1 input[type="checkbox"] + label,
			.wrapper.style1 input[type="radio"] + label {
				color: rgba(255, 255, 255, 0.75);
			}

				.wrapper.style1 input[type="checkbox"] + label:before,
				.wrapper.style1 input[type="radio"] + label:before {
					background: rgba(255, 255, 255, 0.075);
					border-color: rgba(255, 255, 255, 0.25);
				}

			.wrapper.style1 input[type="checkbox"]:checked + label:before,
			.wrapper.style1 input[type="radio"]:checked + label:before {
				background-color: #ffffff;
				border-color: #ffffff;
				color: #ff887b;
			}

			.wrapper.style1 input[type="checkbox"]:focus + label:before,
			.wrapper.style1 input[type="radio"]:focus + label:before {
				border-color: #ffffff;
				box-shadow: 0 0 0 1px #ffffff;
			}

			.wrapper.style1 ::-webkit-input-placeholder {
				color: rgba(255, 255, 255, 0.5) !important;
			}

			.wrapper.style1 :-moz-placeholder {
				color: rgba(255, 255, 255, 0.5) !important;
			}

			.wrapper.style1 ::-moz-placeholder {
				color: rgba(255, 255, 255, 0.5) !important;
			}

			.wrapper.style1 :-ms-input-placeholder {
				color: rgba(255, 255, 255, 0.5) !important;
			}

			.wrapper.style1 .formerize-placeholder {
				color: rgba(255, 255, 255, 0.5) !important;
			}

			.wrapper.style1 ul.alt li {
				border-top-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style1 ul.icons-bordered .icon {
				border-color: rgba(255, 255, 255, 0.75);
			}

				.wrapper.style1 ul.icons-bordered .icon:hover {
					background-color: rgba(255, 255, 255, 0.075);
				}

				.wrapper.style1 ul.icons-bordered .icon:active {
					background-color: rgba(255, 255, 255, 0.2);
				}

			.wrapper.style1 ul.contact-icons li:before {
				color: #ffffff;
			}

			.wrapper.style1 header p {
				color: rgba(255, 255, 255, 0.5);
			}

			.wrapper.style1 table tbody tr {
				border-color: rgba(255, 255, 255, 0.25);
			}

				.wrapper.style1 table tbody tr:nth-child(2n + 1) {
					background-color: rgba(255, 255, 255, 0.075);
				}

			.wrapper.style1 table th {
				color: #ffffff;
			}

			.wrapper.style1 table thead {
				border-bottom-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style1 table tfoot {
				border-top-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style1 table.alt tbody tr td {
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style1 .features > article {
				border-color: rgba(255, 255, 255, 0.25);
			}

				.wrapper.style1 .features > article:before, .wrapper.style1 .features > article h3 {
					color: #ffffff;
				}

			.wrapper.style1 .stats > article {
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style1 .tabs .titles li {
				border-color: rgba(255, 255, 255, 0.25);
				background-color: rgba(255, 255, 255, 0.075);
			}

				.wrapper.style1 .tabs .titles li.active {
					background-color: #ff887b;
					border-bottom-color: #ff887b;
					color: #ffffff;
				}

			.wrapper.style1 .tabs .panels {
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style1 .progress {
				border-color: rgba(255, 255, 255, 0.25);
				color: #ffffff;
			}

				.wrapper.style1 .progress:before {
					background-color: currentColor;
				}

		.wrapper.style2 {
			background-color: #5a5a5a;
			color: rgba(255, 255, 255, 0.75);
		}

			.wrapper.style2 input, .wrapper.style2 select, .wrapper.style2 textarea {
				color: #ffffff;
			}

			.wrapper.style2 a {
				color: #ff887b;
			}

			.wrapper.style2 strong, .wrapper.style2 b {
				color: #ffffff;
			}

			.wrapper.style2 h1, .wrapper.style2 h2, .wrapper.style2 h3, .wrapper.style2 h4, .wrapper.style2 h5, .wrapper.style2 h6 {
				color: #ffffff;
			}

			.wrapper.style2 blockquote {
				border-left-color: rgba(255, 255, 255, 0.15);
			}

			.wrapper.style2 code {
				background: rgba(255, 255, 255, 0.075);
				border-color: rgba(255, 255, 255, 0.15);
			}

			.wrapper.style2 hr {
				border-bottom-color: rgba(255, 255, 255, 0.15);
			}

			.wrapper.style2 .box {
				border-color: rgba(255, 255, 255, 0.15);
			}

			.wrapper.style2 input[type="submit"],
			.wrapper.style2 input[type="reset"],
			.wrapper.style2 input[type="button"],
			.wrapper.style2 button,
			.wrapper.style2 .button {
				background-color: transparent;
				box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.75);
				color: #ffffff !important;
			}

				.wrapper.style2 input[type="submit"]:hover,
				.wrapper.style2 input[type="reset"]:hover,
				.wrapper.style2 input[type="button"]:hover,
				.wrapper.style2 button:hover,
				.wrapper.style2 .button:hover {
					background-color: rgba(255, 255, 255, 0.075);
				}

				.wrapper.style2 input[type="submit"]:active,
				.wrapper.style2 input[type="reset"]:active,
				.wrapper.style2 input[type="button"]:active,
				.wrapper.style2 button:active,
				.wrapper.style2 .button:active {
					background-color: rgba(255, 255, 255, 0.2);
				}

				.wrapper.style2 input[type="submit"].icon:before,
				.wrapper.style2 input[type="reset"].icon:before,
				.wrapper.style2 input[type="button"].icon:before,
				.wrapper.style2 button.icon:before,
				.wrapper.style2 .button.icon:before {
					color: rgba(255, 255, 255, 0.5);
				}

				.wrapper.style2 input[type="submit"].special,
				.wrapper.style2 input[type="reset"].special,
				.wrapper.style2 input[type="button"].special,
				.wrapper.style2 button.special,
				.wrapper.style2 .button.special {
					box-shadow: none;
					background-color: #ff887b;
					color: #ffffff !important;
				}

					.wrapper.style2 input[type="submit"].special.icon:before,
					.wrapper.style2 input[type="reset"].special.icon:before,
					.wrapper.style2 input[type="button"].special.icon:before,
					.wrapper.style2 button.special.icon:before,
					.wrapper.style2 .button.special.icon:before {
						color: #ffffff !important;
					}

					.wrapper.style2 input[type="submit"].special:hover,
					.wrapper.style2 input[type="reset"].special:hover,
					.wrapper.style2 input[type="button"].special:hover,
					.wrapper.style2 button.special:hover,
					.wrapper.style2 .button.special:hover {
						background-color: #ff9f95;
					}

					.wrapper.style2 input[type="submit"].special:active,
					.wrapper.style2 input[type="reset"].special:active,
					.wrapper.style2 input[type="button"].special:active,
					.wrapper.style2 button.special:active,
					.wrapper.style2 .button.special:active {
						background-color: #ff7162;
					}

			.wrapper.style2 label {
				color: #ffffff;
			}

			.wrapper.style2 input[type="text"],
			.wrapper.style2 input[type="password"],
			.wrapper.style2 input[type="email"],
			.wrapper.style2 select,
			.wrapper.style2 textarea {
				background: transparent;
				border-color: rgba(255, 255, 255, 0.15);
			}

				.wrapper.style2 input[type="text"]:focus,
				.wrapper.style2 input[type="password"]:focus,
				.wrapper.style2 input[type="email"]:focus,
				.wrapper.style2 select:focus,
				.wrapper.style2 textarea:focus {
					border-color: #ff887b;
					box-shadow: 0 0 0 1px #ff887b;
				}

			.wrapper.style2 .select-wrapper:before {
				color: rgba(255, 255, 255, 0.15);
			}

			.wrapper.style2 input[type="checkbox"] + label,
			.wrapper.style2 input[type="radio"] + label {
				color: rgba(255, 255, 255, 0.75);
			}

				.wrapper.style2 input[type="checkbox"] + label:before,
				.wrapper.style2 input[type="radio"] + label:before {
					background: rgba(255, 255, 255, 0.075);
					border-color: rgba(255, 255, 255, 0.15);
				}

			.wrapper.style2 input[type="checkbox"]:checked + label:before,
			.wrapper.style2 input[type="radio"]:checked + label:before {
				background-color: #ff887b;
				border-color: #ff887b;
				color: #ffffff;
			}

			.wrapper.style2 input[type="checkbox"]:focus + label:before,
			.wrapper.style2 input[type="radio"]:focus + label:before {
				border-color: #ff887b;
				box-shadow: 0 0 0 1px #ff887b;
			}

			.wrapper.style2 ::-webkit-input-placeholder {
				color: rgba(255, 255, 255, 0.5) !important;
			}

			.wrapper.style2 :-moz-placeholder {
				color: rgba(255, 255, 255, 0.5) !important;
			}

			.wrapper.style2 ::-moz-placeholder {
				color: rgba(255, 255, 255, 0.5) !important;
			}

			.wrapper.style2 :-ms-input-placeholder {
				color: rgba(255, 255, 255, 0.5) !important;
			}

			.wrapper.style2 .formerize-placeholder {
				color: rgba(255, 255, 255, 0.5) !important;
			}

			.wrapper.style2 ul.alt li {
				border-top-color: rgba(255, 255, 255, 0.15);
			}

			.wrapper.style2 ul.icons-bordered .icon {
				border-color: rgba(255, 255, 255, 0.75);
			}

				.wrapper.style2 ul.icons-bordered .icon:hover {
					background-color: rgba(255, 255, 255, 0.075);
				}

				.wrapper.style2 ul.icons-bordered .icon:active {
					background-color: rgba(255, 255, 255, 0.2);
				}

			.wrapper.style2 ul.contact-icons li:before {
				color: #ffffff;
			}

			.wrapper.style2 header p {
				color: rgba(255, 255, 255, 0.5);
			}

			.wrapper.style2 table tbody tr {
				border-color: rgba(255, 255, 255, 0.15);
			}

				.wrapper.style2 table tbody tr:nth-child(2n + 1) {
					background-color: rgba(255, 255, 255, 0.075);
				}

			.wrapper.style2 table th {
				color: #ffffff;
			}

			.wrapper.style2 table thead {
				border-bottom-color: rgba(255, 255, 255, 0.15);
			}

			.wrapper.style2 table tfoot {
				border-top-color: rgba(255, 255, 255, 0.15);
			}

			.wrapper.style2 table.alt tbody tr td {
				border-color: rgba(255, 255, 255, 0.15);
			}

			.wrapper.style2 .features > article {
				border-color: rgba(255, 255, 255, 0.15);
			}

				.wrapper.style2 .features > article:before, .wrapper.style2 .features > article h3 {
					color: #ff887b;
				}

			.wrapper.style2 .stats > article {
				border-color: rgba(255, 255, 255, 0.15);
			}

			.wrapper.style2 .tabs .titles li {
				border-color: rgba(255, 255, 255, 0.15);
				background-color: rgba(255, 255, 255, 0.075);
			}

				.wrapper.style2 .tabs .titles li.active {
					background-color: #5a5a5a;
					border-bottom-color: #5a5a5a;
					color: #ff887b;
				}

			.wrapper.style2 .tabs .panels {
				border-color: rgba(255, 255, 255, 0.15);
			}

			.wrapper.style2 .progress {
				border-color: rgba(255, 255, 255, 0.15);
				color: #ff887b;
			}

				.wrapper.style2 .progress:before {
					background-color: currentColor;
				}

		@media screen and (max-width: 1280px) {

			.wrapper {
				padding: 5em 0 3em 0 ;
			}

		}

		@media screen and (max-width: 736px) {

			.wrapper {
				padding: 3em 0 1em 0 ;
			}

				.wrapper > .inner {
					max-width: calc(100% - 3em);
				}

		}

/* Header */

	#header {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-moz-transition-duration: 0.2s;
		-webkit-transition-duration: 0.2s;
		-ms-transition-duration: 0.2s;
		transition-duration: 0.2s;
		-moz-transition-property: background-color padding;
		-webkit-transition-property: background-color padding;
		-ms-transition-property: background-color padding;
		transition-property: background-color padding;
		-moz-transition-timing-function: ease-in-out;
		-webkit-transition-timing-function: ease-in-out;
		-ms-transition-timing-function: ease-in-out;
		transition-timing-function: ease-in-out;
		background: #ff9185;
		color: #ffffff;
		left: 0;
		padding: 1em 1.5em;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10001;
	}

		#header input[type="submit"],
		#header input[type="reset"],
		#header input[type="button"],
		#header button,
		#header .button {
			background-color: transparent;
			box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.75);
			color: #ffffff !important;
		}

			#header input[type="submit"]:hover,
			#header input[type="reset"]:hover,
			#header input[type="button"]:hover,
			#header button:hover,
			#header .button:hover {
				background-color: rgba(255, 255, 255, 0.075);
			}

			#header input[type="submit"]:active,
			#header input[type="reset"]:active,
			#header input[type="button"]:active,
			#header button:active,
			#header .button:active {
				background-color: rgba(255, 255, 255, 0.2);
			}

			#header input[type="submit"].icon:before,
			#header input[type="reset"].icon:before,
			#header input[type="button"].icon:before,
			#header button.icon:before,
			#header .button.icon:before {
				color: rgba(255, 255, 255, 0.5);
			}

			#header input[type="submit"].special,
			#header input[type="reset"].special,
			#header input[type="button"].special,
			#header button.special,
			#header .button.special {
				box-shadow: none;
				background-color: #ffffff;
				color: #ff887b !important;
			}

				#header input[type="submit"].special.icon:before,
				#header input[type="reset"].special.icon:before,
				#header input[type="button"].special.icon:before,
				#header button.special.icon:before,
				#header .button.special.icon:before {
					color: #ff887b !important;
				}

		#header a {
			color: inherit;
			text-decoration: none;
		}

			#header a:hover {
				color: #ffffff;
			}

		#header > .logo {
			-moz-flex-grow: 1;
			-webkit-flex-grow: 1;
			-ms-flex-grow: 1;
			flex-grow: 1;
			-moz-flex-shrink: 1;
			-webkit-flex-shrink: 1;
			-ms-flex-shrink: 1;
			flex-shrink: 1;
			cursor: default;
		}

			#header > .logo > * {
				display: inline-block;
				vertical-align: middle;
			}

			#header > .logo > a {
				font-size: 1.75em;
			}

			#header > .logo > span {
				border-left: solid 1px rgba(255, 255, 255, 0.75);
				margin-left: 1.5em;
				padding-left: 1.5em;
			}

		#header > nav {
			-moz-flex-grow: 0;
			-webkit-flex-grow: 0;
			-ms-flex-grow: 0;
			flex-grow: 0;
			-moz-flex-shrink: 0;
			-webkit-flex-shrink: 0;
			-ms-flex-shrink: 0;
			flex-shrink: 0;
			margin-right: 0.5em;
		}

			#header > nav > ul {
				-moz-align-items: center;
				-webkit-align-items: center;
				-ms-align-items: center;
				align-items: center;
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}

				#header > nav > ul > li {
					margin-left: 2.25em;
					padding: 0;
				}

					#header > nav > ul > li > ul {
						display: none;
					}

			#header > nav a.icon:before {
				margin-right: 0.625em;
			}

			#header > nav a[href="#navPanel"] {
				text-decoration: none;
				-webkit-tap-highlight-color: transparent;
				display: none;
				font-weight: 400;
				margin-left: 0.5em;
				padding: 0.5em 1.25em;
			}

				#header > nav a[href="#navPanel"]:before {
					-moz-osx-font-smoothing: grayscale;
					-webkit-font-smoothing: antialiased;
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-transform: none !important;
				}

				#header > nav a[href="#navPanel"]:before {
					content: '\f0c9';
				}

			.dropotron {
				background-color: #ffffff;
				border-radius: 0.5em;
				box-shadow: 0 0.075em 0.125em 0.1em rgba(0, 0, 0, 0.075);
				list-style-type: none;
				margin: -0.5em 0 0 1px;
				min-width: 10em;
				padding: 0.5em 0;
			}

				.dropotron.level-0 {
					margin-top: 1.125em;
					margin-left: 0;
				}

					.dropotron.level-0:before {
						-moz-transform: rotate(45deg);
						-webkit-transform: rotate(45deg);
						-ms-transform: rotate(45deg);
						transform: rotate(45deg);
						background-color: #ffffff;
						box-shadow: -2px -2px 3px -1px rgba(0, 0, 0, 0.1);
						content: '';
						height: 0.75em;
						position: absolute;
						right: 2em;
						top: -0.375em;
						width: 0.75em;
					}

				.dropotron li {
					border-top: solid 1px rgba(144, 144, 144, 0.25);
					padding: 0;
					position: relative;
				}

					.dropotron li:first-child {
						border-top: none;
					}

					.dropotron li.active > a {
						background-color: #ff887b;
						color: #ffffff;
					}

				.dropotron a {
					color: #5a5a5a;
					padding: 0.5em 1em;
					text-decoration: none !important;
				}

					.dropotron a:active, .dropotron a:hover, .dropotron a:focus {
						background-color: #ff887b;
						color: #ffffff;
					}

		#header > .navPanelToggle {
			-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, top 0.2s ease-in-out, right 0.2s ease-in-out;
			-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, top 0.2s ease-in-out, right 0.2s ease-in-out;
			-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, top 0.2s ease-in-out, right 0.2s ease-in-out;
			transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, top 0.2s ease-in-out, right 0.2s ease-in-out;
			text-decoration: none;
			display: none;
			height: 3em;
			line-height: 3em;
			margin-right: -0.5em;
			padding: 0 1.5em;
		}

			#header > .navPanelToggle:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			#header > .navPanelToggle:before {
				content: '\f0c9';
				margin: 0 0.5em 0 0;
			}

		#header.alt {
			background-color: transparent;
			padding: 2em 2.5em;
		}

			#header.alt > nav {
				margin-right: 0;
			}

			#header.alt > .navPanelToggle {
				margin-right: -1em;
			}

		@media screen and (max-width: 1280px) {

			#header > .logo > a {
				font-size: 1.25em;
			}

			#header > .logo > span {
				margin-left: 1.25em;
				padding-left: 1.25em;
			}

		}

		@media screen and (max-width: 980px) {

			#header {
				padding: 0.75em 1.25em;
			}

				#header > nav {
					display: none;
				}

				#header > .navPanelToggle {
					display: block;
				}

				#header.alt {
					padding: 2em 2em;
				}

		}

		@media screen and (max-width: 736px) {

			#header {
				padding: 0.5em 0.825em;
			}

				#header > .logo > a {
					font-size: 1em;
				}

				#header > .logo > span {
					display: none;
				}

				#header > .navPanelToggle {
					height: 2.5em;
					line-height: 2.5em;
					padding: 0 1em;
				}

				#header.alt {
					padding: 1.5em 1.5em;
				}

		}

/* Nav Panel */

	#navPanel {
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		-ms-transform: translateX(100%);
		transform: translateX(100%);
		-moz-transition: -moz-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-webkit-transition: -webkit-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-ms-transition: -ms-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-webkit-overflow-scrolling: touch;
		background: #3b3b3b;
		box-shadow: none;
		color: rgba(255, 255, 255, 0.75);
		height: 100%;
		max-width: 80%;
		overflow-y: auto;
		position: fixed;
		right: 0;
		top: 0;
		visibility: hidden;
		width: 20em;
		z-index: 10002;
	}

		#navPanel.visible {
			-moz-transform: translateX(0);
			-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
			box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
			visibility: visible;
		}

		#navPanel nav {
			padding: 3em 2em;
		}

		#navPanel .link {
			-moz-transition: color 0.2s;
			-webkit-transition: color 0.2s;
			-ms-transition: color 0.2s;
			transition: color 0.2s;
			border-top: solid 1px rgba(255, 255, 255, 0.15);
			color: inherit !important;
			display: block;
			padding: 0.75em 0;
			text-decoration: none;
		}

			#navPanel .link:first-child {
				border-top: 0;
			}

			#navPanel .link.depth-0 {
				color: #ffffff !important;
				font-weight: 400;
			}

			#navPanel .link:active, #navPanel .link:focus, #navPanel .link:hover {
				color: #ff887b !important;
			}

			#navPanel .link .indent-1 {
				display: inline-block;
				width: 1.25em;
			}

			#navPanel .link .indent-2 {
				display: inline-block;
				width: 2.5em;
			}

		#navPanel .close {
			text-decoration: none;
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			-webkit-tap-highlight-color: transparent;
			border: 0;
			color: rgba(255, 255, 255, 0.5);
			cursor: pointer;
			display: block;
			height: 3.25em;
			line-height: 3.25em;
			padding-right: 1.25em;
			position: absolute;
			right: 0;
			text-align: right;
			top: 0;
			vertical-align: middle;
			width: 7em;
		}

			#navPanel .close:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			#navPanel .close:before {
				content: '\f00d';
				font-size: 1.25em;
			}

			#navPanel .close:hover {
				color: #ffffff;
			}

			@media screen and (max-width: 736px) {

				#navPanel .close {
					height: 4em;
					line-height: 4em;
				}

			}

		@media screen and (max-width: 736px) {

			#navPanel nav {
				padding: 2.5em 1.75em;
			}

		}

/* Banner */

	#banner {
		background-color: #ff887b;
		color: rgba(255, 255, 255, 0.75);
		padding: 10em 0 6em 0 ;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		background-attachment: fixed;
		background-image: url("../../images/pic01.jpg");
		background-position: bottom left;
		background-size: cover;
		border-top: solid 10px #ff887b;
		min-height: 75vh;
		position: relative;
		text-align: center;
		width: 100%;
	}

		#banner input, #banner select, #banner textarea {
			color: #ffffff;
		}

		#banner a {
			color: #ffffff;
		}

		#banner strong, #banner b {
			color: #ffffff;
		}

		#banner h1, #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
			color: #ffffff;
		}

		#banner blockquote {
			border-left-color: rgba(255, 255, 255, 0.25);
		}

		#banner code {
			background: rgba(255, 255, 255, 0.075);
			border-color: rgba(255, 255, 255, 0.25);
		}

		#banner hr {
			border-bottom-color: rgba(255, 255, 255, 0.25);
		}

		#banner input[type="submit"],
		#banner input[type="reset"],
		#banner input[type="button"],
		#banner button,
		#banner .button {
			background-color: transparent;
			box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.75);
			color: #ffffff !important;
		}

			#banner input[type="submit"]:hover,
			#banner input[type="reset"]:hover,
			#banner input[type="button"]:hover,
			#banner button:hover,
			#banner .button:hover {
				background-color: rgba(255, 255, 255, 0.075);
			}

			#banner input[type="submit"]:active,
			#banner input[type="reset"]:active,
			#banner input[type="button"]:active,
			#banner button:active,
			#banner .button:active {
				background-color: rgba(255, 255, 255, 0.2);
			}

			#banner input[type="submit"].icon:before,
			#banner input[type="reset"].icon:before,
			#banner input[type="button"].icon:before,
			#banner button.icon:before,
			#banner .button.icon:before {
				color: rgba(255, 255, 255, 0.5);
			}

			#banner input[type="submit"].special,
			#banner input[type="reset"].special,
			#banner input[type="button"].special,
			#banner button.special,
			#banner .button.special {
				box-shadow: none;
				background-color: #ffffff;
				color: #ff887b !important;
			}

				#banner input[type="submit"].special.icon:before,
				#banner input[type="reset"].special.icon:before,
				#banner input[type="button"].special.icon:before,
				#banner button.special.icon:before,
				#banner .button.special.icon:before {
					color: #ff887b !important;
				}

		#banner > .inner {
			-moz-transition: -moz-transform 0.75s ease-in-out, opacity 0.75s ease-in-out;
			-webkit-transition: -webkit-transform 0.75s ease-in-out, opacity 0.75s ease-in-out;
			-ms-transition: -ms-transform 0.75s ease-in-out, opacity 0.75s ease-in-out;
			transition: transform 0.75s ease-in-out, opacity 0.75s ease-in-out;
			position: relative;
			width: 45em;
			max-width: calc(100% - 6em);
			z-index: 1;
		}

		#banner .icon {
			display: inline-block;
			background-color: white;
			border-radius: 100%;
			color: #ff887b;
			font-size: 3.75em;
			height: 1.6em;
			line-height: 1.5em;
			margin-bottom: 0.75em;
			width: 1.6em;
		}

		#banner h1 {
			margin-bottom: 0.825em;
		}

		#banner p {
			font-size: 1.5em;
			margin-bottom: 1.75em;
		}

		#banner .actions {
			border-top: solid 1px rgba(255, 255, 255, 0.25);
			padding-top: 3.5em;
		}

		#banner:before {
			-moz-transition: opacity 1s ease-in-out;
			-webkit-transition: opacity 1s ease-in-out;
			-ms-transition: opacity 1s ease-in-out;
			transition: opacity 1s ease-in-out;
			-moz-transition-delay: 0.75s;
			-webkit-transition-delay: 0.75s;
			-ms-transition-delay: 0.75s;
			transition-delay: 0.75s;
			content: '';
			display: block;
			background: #202020;
			height: 100%;
			left: 0;
			opacity: 0.25;
			position: absolute;
			top: 0;
			width: 100%;
		}

		body.is-loading #banner > .inner {
			-moz-transform: translateY(0.75em);
			-webkit-transform: translateY(0.75em);
			-ms-transform: translateY(0.75em);
			transform: translateY(0.75em);
			opacity: 0;
		}

		body.is-loading #banner:before {
			opacity: 1;
		}

		@media screen and (max-width: 1680px) {

			#banner {
				min-height: 0;
			}

		}

		@media screen and (max-width: 1280px) {

			#banner {
				padding: 6em 0 3em 0 ;
				background-attachment: scroll;
			}

		}

		@media screen and (max-width: 980px) {

			#banner {
				padding: 10em 0 6em 0 ;
			}

				#banner .icon {
					margin-bottom: 0.5em;
				}

		}

		@media screen and (max-width: 736px) {

			#banner {
				padding: 5em 0 2em 0 ;
			}

				#banner > .inner {
					max-width: calc(100% - 3em);
				}

				#banner .icon {
					font-size: 3.25em;
				}

				#banner .actions {
					padding-top: 2em;
				}

		}

		@media screen and (max-width: 480px) {

			#banner {
				padding: 4em 0 1em 0 ;
			}

		}

/* Main */

	#main {
		padding: 10em 0 4em 0;
	}

		@media screen and (max-width: 1280px) {

			#main {
				padding: 8em 0 3em 0;
			}

		}

		@media screen and (max-width: 736px) {

			#main {
				padding: 6em 0 2em 0;
			}

		}

/* Footer */

	#footer {
		background-color: #ff887b;
		color: rgba(255, 255, 255, 0.75);
		padding: 7.5em 0 5.5em 0 ;
		background-color: #ff887b;
	}

		#footer input, #footer select, #footer textarea {
			color: #ffffff;
		}

		#footer a {
			color: #ffffff;
		}

		#footer strong, #footer b {
			color: #ffffff;
		}

		#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
			color: #ffffff;
		}

		#footer blockquote {
			border-left-color: rgba(255, 255, 255, 0.25);
		}

		#footer code {
			background: rgba(255, 255, 255, 0.075);
			border-color: rgba(255, 255, 255, 0.25);
		}

		#footer hr {
			border-bottom-color: rgba(255, 255, 255, 0.25);
		}

		#footer input[type="submit"],
		#footer input[type="reset"],
		#footer input[type="button"],
		#footer button,
		#footer .button {
			background-color: transparent;
			box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.75);
			color: #ffffff !important;
		}

			#footer input[type="submit"]:hover,
			#footer input[type="reset"]:hover,
			#footer input[type="button"]:hover,
			#footer button:hover,
			#footer .button:hover {
				background-color: rgba(255, 255, 255, 0.075);
			}

			#footer input[type="submit"]:active,
			#footer input[type="reset"]:active,
			#footer input[type="button"]:active,
			#footer button:active,
			#footer .button:active {
				background-color: rgba(255, 255, 255, 0.2);
			}

			#footer input[type="submit"].icon:before,
			#footer input[type="reset"].icon:before,
			#footer input[type="button"].icon:before,
			#footer button.icon:before,
			#footer .button.icon:before {
				color: rgba(255, 255, 255, 0.5);
			}

			#footer input[type="submit"].special,
			#footer input[type="reset"].special,
			#footer input[type="button"].special,
			#footer button.special,
			#footer .button.special {
				box-shadow: none;
				background-color: #ffffff;
				color: #ff887b !important;
			}

				#footer input[type="submit"].special.icon:before,
				#footer input[type="reset"].special.icon:before,
				#footer input[type="button"].special.icon:before,
				#footer button.special.icon:before,
				#footer .button.special.icon:before {
					color: #ff887b !important;
				}

		#footer label {
			color: #ffffff;
		}

		#footer input[type="text"],
		#footer input[type="password"],
		#footer input[type="email"],
		#footer select,
		#footer textarea {
			background: transparent;
			border-color: rgba(255, 255, 255, 0.25);
		}

			#footer input[type="text"]:focus,
			#footer input[type="password"]:focus,
			#footer input[type="email"]:focus,
			#footer select:focus,
			#footer textarea:focus {
				border-color: #ffffff;
				box-shadow: 0 0 0 1px #ffffff;
			}

		#footer .select-wrapper:before {
			color: rgba(255, 255, 255, 0.25);
		}

		#footer input[type="checkbox"] + label,
		#footer input[type="radio"] + label {
			color: rgba(255, 255, 255, 0.75);
		}

			#footer input[type="checkbox"] + label:before,
			#footer input[type="radio"] + label:before {
				background: rgba(255, 255, 255, 0.075);
				border-color: rgba(255, 255, 255, 0.25);
			}

		#footer input[type="checkbox"]:checked + label:before,
		#footer input[type="radio"]:checked + label:before {
			background-color: #ffffff;
			border-color: #ffffff;
			color: #ff887b;
		}

		#footer input[type="checkbox"]:focus + label:before,
		#footer input[type="radio"]:focus + label:before {
			border-color: #ffffff;
			box-shadow: 0 0 0 1px #ffffff;
		}

		#footer ::-webkit-input-placeholder {
			color: rgba(255, 255, 255, 0.5) !important;
		}

		#footer :-moz-placeholder {
			color: rgba(255, 255, 255, 0.5) !important;
		}

		#footer ::-moz-placeholder {
			color: rgba(255, 255, 255, 0.5) !important;
		}

		#footer :-ms-input-placeholder {
			color: rgba(255, 255, 255, 0.5) !important;
		}

		#footer .formerize-placeholder {
			color: rgba(255, 255, 255, 0.5) !important;
		}

		#footer ul.alt li {
			border-top-color: rgba(255, 255, 255, 0.25);
		}

		#footer ul.icons-bordered .icon {
			border-color: rgba(255, 255, 255, 0.75);
		}

			#footer ul.icons-bordered .icon:hover {
				background-color: rgba(255, 255, 255, 0.075);
			}

			#footer ul.icons-bordered .icon:active {
				background-color: rgba(255, 255, 255, 0.2);
			}

		#footer ul.contact-icons li:before {
			color: #ffffff;
		}

		#footer > .inner {
			margin: 0 auto;
			width: 80em;
			max-width: calc(100% - 6em);
		}

		#footer .copyright {
			border-top: solid 1px rgba(255, 255, 255, 0.25);
			font-size: 0.9em;
			margin-top: 4em;
			padding-top: 4em;
			text-align: center;
			width: 100%;
		}

		@media screen and (max-width: 1280px) {

			#footer {
				padding: 5em 0 3em 0 ;
			}

				#footer .contact {
					margin-right: 1.5em;
				}

		}

		@media screen and (max-width: 736px) {

			#footer {
				padding: 3em 0 1em 0 ;
			}

				#footer > .inner {
					max-width: calc(100% - 3em);
				}

				#footer .copyright {
					margin-top: 2em;
					padding-top: 2em;
				}

		}