<!-- app.component.html -->
<div class="container">
  <h1>{{ title }}</h1>
  <div class="row">
    <div class="col-md-6">

      <ul class="list-group">
        <li class="list-group-item" (click)="getCity(city.id)" *ngFor="let city of cities$ | async">
          {{ city.id }} - {{ city.name }}
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <input type="text" placeholder="New city..." #newCity class="form-control-lg">
      <input type="text" placeholder="Province..." #newProvince class="form-control-lg">
      <button class="btn btn-primary" (click)="addCity(newCity.value, newProvince.value)">Toevoegen</button>
      <div *ngIf="currentCity$ | async as city">
        <ul class="list-group">
          <li class="list-group-item list-group-item-info">
            <h3>Gekozen stad</h3>
          </li>
          <li class="list-group-item">
            <strong>Stad: </strong>{{ city.name }} (id: {{ city.id }})</li>
          <li class="list-group-item">
            <strong>Provincie: </strong>{{ city.province }} </li>
        </ul>
        <button class="btn btn-warning" (click)="clear()">Clear</button>
      </div>
    </div>
  </div>

</div>