<!-- city-detail.component.html -->
<h2>Details per stad</h2>
<h3>Meegegeven id: {{ id }} </h3>
<h3>Meegegeven naam: {{ name }} </h3>
<hr>

<!--Eventueel: detailgegevens per stad uit een backend tonen:-->

<!--<div *ngIf="city$ | async as city">-->
<!--  Opgehaalde gegevens uit 'database': {{ city.id}},-->
<!--  {{ city.name}},-->
<!--  {{ city.province }}-->
<!--</div>-->
