<div class="container">
  <h2>welkom {{ name }}!</h2>
  <h1>{{ title }}</h1>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let city of cities">
      {{ city.id }} - {{city.name}} ({{city.province}})
    </li>
  </ul>
</div>
<!-- evt customer -->