<!-- city-detail.component.html -->
<h2>Details</h2>
<ul class="list-group">
  <li class="list-group-item">Naam: [naam van stad]</li>
  <li class="list-group-item">Provincie: [provincie]</li>
  <li class="list-group-item">Highlights: [highlights]</li>
</ul>