<!-- app.component.html -->
<div class="container">
  <h1>{{ title}} </h1>
  <!-- Hoofdmenu. Let op <a routerLink></a> -->
  <a routerLink="home" class="btn btn-primary">Home</a>
  <a routerLink="add" class="btn btn-primary">Toevoegen</a>

  <!-- Router-outlet. Hier worden de routes/componenten geprojecteerd -->
  <router-outlet></router-outlet>

  <!-- Standaard footer -->
  <hr>
  <div class="text-center">
    Copyright &copy; 2020
  </div>
</div>
