<!-- app.component.html -->
<div class="container">
  <h1>{{ title }}</h1>
  <ul class="list-group" *ngIf="showCities">
    <li class="list-group-item " *ngFor="let city of cities ">
      {{ city.id }} - {{ city.name }} ({{ city.province }})
    </li>
  </ul>
  <h2 *ngIf="cities.length> 3">Jij hebt veel favoriete steden!</h2>
</div>