<!-- app.component.html -->
<div class="container">
  <h1>{{ title }}</h1>
  <ul class="list-group" *ngIf="showCities">
    <li class="list-group-item" *ngFor="let city of cities" (click)="showCity(city)">

      {{ city.id }} - {{ city.name }} ({{ city.province }})
    </li>
  </ul>
  <!-- Als er een stad is aangeklikt, wordt deze waarde opgeslagen
  in currentCity. Hiervan is een foto met de betreffende naam aanwezig
  in de map /assets/img/. Er is ook CSS-stijl toegevoegd aan app.component.css -->
  <div *ngIf="currentCity">
    <img class="cityPhoto"
         [src]="cityPhoto"
         [alt]="currentCity.name">
    <h2> Gekozen stad: {{ currentCity.name}} </h2>
  </div>


</div>
