<!-- app.component.html -->
<div class="container">
  <h1>{{ title }}</h1>
  <ul class="list-group" *ngIf="showCities">
    <li class="list-group-item" *ngFor="let city of cities" (click)="showCity(city)">

      {{ city.id }} - {{ city.name }} ({{ city.province }})
    </li>
  </ul>
  <label for="chkCities">
    <input type="checkbox" id="chkCities" (change)="toggleCities()"> {{ toggleMsg }}
  </label>
  <hr />
  <button (click)="btnClick()" class="btn btn-primary">Bestel</button>

</div>